*.[do]
*.exe
*~
.deps/
/Makefile
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/Makefile
/include/Makefile
/install-sh
/missing
/src/Makefile
/src/cpu/Makefile
/src/cpu/core_dyn_x86/Makefile
/src/cpu/core_dynrec/Makefile
/src/cpu/core_full/Makefile
/src/cpu/core_normal/Makefile
/src/debug/Makefile
/src/dos/Makefile
/src/fpu/Makefile
/src/gui/Makefile
/src/hardware/Makefile
/src/hardware/mame/Makefile
/src/hardware/serialport/Makefile
/src/ints/Makefile
/src/libs/Makefile
/src/libs/decoders/Makefile
/src/libs/gui_tk/Makefile
/src/libs/zmbv/Makefile
/src/misc/Makefile
/src/platform/Makefile
/src/platform/macosx/Makefile
/src/platform/visualc/Makefile
/src/shell/Makefile
/stamp-h1
/visualc_net/Makefile
Makefile.in
